body{
    margin:0;
    padding: 20px;
    font-family: cursive,Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f7f7f7;
}

#container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 7px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 36px;
    margin-top : 0;
    margin-bottom: 20px;
}

.form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-weight: bold;
    margin-bottom: 20px;
}

input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius:  5px;
    width:100%;
    max-width:300px;
    margin-bottom: 10px;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius:6px;
    margin-top: 15px;
    cursor: pointer;
    transition: .3 ;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

button:hover{
    background-color: #0062cc;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#result{
    margin-top: 20px;
    font-weight: bold;
}

@media (max-width:480px) {
    input{
        max-width: 200px;
    }
}

